@charset "utf-8";
/* Main Styles */

/* -- reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td, col {
	background: transparent no-repeat 0 0;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: baseline;
	}
ol, ul { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {	border-collapse: collapse; border-spacing: 0; width: 100%; }
input, textarea { margin: 0; padding: 0; }
em { font-style: italic; }
object { display: block; }
/* -- reset -- */

body {
	background: #000;
	color: #b1f1ff;
	margin: 0;
	padding: 0;
	font-family: Verdana, Hevetica, "sans-serif";
	font-size: 12px;
	line-height: 10px;
}

a {color: #45FEF6; text-decoration: none}
a:visited {color: #21617C;}
a:hover,a:focus {color: #0FE7F5; text-decoration: none;}
a:active {}

.button, .social .sharethis {
	color: #21617c;
	display: block;
	background: #b1f1ff url(/images/button2.gif) bottom repeat-x;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #45FEF6;
	font-weight: bold;
	float: left;
	padding: .5em;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}
	
	.social .sharethis {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 0;
	}

.button.donate, .button.download {
	float: left;
	font-size: 38px;
	margin-left: 10px;
	line-height: normal;
	width: 40%;
}

.button.donate span {
	font-size: 17px;
	display: block;
}

#donate .button.donate, #donate .button.download {
	float: none;
	width: 88%;
	margin-left: 0;
	display: block;
	margin: .5em 0;
}

.button:hover {
	color: #fa00a9;
}

.hidden {
	display: none;
}

fieldset, input, textarea {
	border: 1px solid #ccc;
}

input, fieldset, textarea {
	padding: 4px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.6em;
	margin: 0;
}

#header_wrapper, #footer_wrapper {
	background: #000;
}

#header_wrapper {
	margin: 1em 0 0 0;
}

#footer_wrapper {
	padding: 4em 0 1em;
}

	#header_wrapper h1 {
		float: left;
		margin-top: 1em;
	}
	
		#header_wrapper h1 a {
			display: block;
			background: #9ae1ff url(/images/logo.gif) no-repeat;
			overflow:hidden;
			text-indent:-9999px;
			height: 147px;
			margin-left: -78px;
			width:327px;
		}
	
h2 {
	border-bottom: 1px dotted #303030;
	display: block;
	font-size: 42px;
	line-height: 52px;
	margin-bottom: .5em;
}

	h2 span {
		color: #93bec6;
		font-size: 18px;
		font-weight: normal;
	}
	
#alertMessage {
	background-color: #202020;
	width: 900px;
	padding: 3em 2em;
	margin-bottom: 2em;
}
	
#alertMessage h2 {
	color: #ff9600;
	font-size: 38px;
	/* height: 32px; */
	width: 100%;
}

#alertMessage span {
	display: block;
	line-height: 3em;
}

#content_wrapper {
	background: #141414 url(/images/stripeBG.png) top repeat-x;
	border-bottom: 1px solid #1b1b1b;
	border-top: 1px solid #222;
	padding: 6em 0 2em;
}

.copyright {
	color: #769da4;
	float: right;
	font-size: 9px;
	margin-top: 2em;
	text-align: center;
}

.clear {
	clear: both;
}

.constrain {
	width: 900px;
	margin: 0 auto;
}

.thumb_container {
	float: left;
	width: 75%;
}
	
	.thumb_container p {
		display: block;
		margin-top: .5em;
	}

.setMeta {
	display: block;
	margin-bottom: 3em;
}

.adsense {
	float: left;
	width: 25%;
	text-align: right;
}

.adsense h3 {
	border-bottom: none;
	color: #ccc;
	font-size: 15px;
	line-height: 26px;
	margin-bottom: 6px;
	text-align: right;
}

	.adsense h3 span {
		display: block;
		font-size: 28px;
	}
	
	#footer_wrapper .adsense {
		margin-right: 1.6em;
		width: auto;
	}

.social li {
	float: left;
	margin-left: 1em;
}
	
#sharethis_0 {
	display: block;
	margin: .2em .5em;
}
	
.stbuttontext {
	color: #227a3c;
	font-size: 14px;
	font-weight: bold;
}
	
	.social .sharethis:hover .stbuttontext {
		color: #fa00a9;
	}
	
h3 {
	border-bottom: 1px dotted #303030;
	color: #b0d4de;
	display: block;
	font-size: 14px;

}

#footer_wrapper .adsense h3 {
	color: #47C5FD;
	font-weight: normal; 
	font-size: 13px; 
	font-weight: bold;
}

#footer_wrapper .adsense h3 span {
	font-size: 12px; 
	font-weight: bold; 
}

#donate {
	margin: 2em;
}

#colorbox h3 {
	margin-bottom: .5em;
	font-size: 18px;
}

#creativeCommons {
	font-size: 10px;
	display: block;
	float: left;
}

.download_container #creativeCommons {
	margin-top: 30px;
}

.download_container .button {
	padding: 1em;
	font-size: 18px;
	margin-right: 1em;
}

.ccImg, .ccMeta {
	display: block;
	float: left;
}

.ccImg {
	margin: 0 1em 1em 0;
}

#big_thumb {
	background: transparent url(/images/loader.gif) center center no-repeat;
	border: 1px solid #606060;
	float: left;
	width: 320px;
	height: 480px;
	padding: 5px;
}

.thumb {
	border: 1px solid #404040;
	padding: 5px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	width: 83px;
}
	
	.thumb img {
		background: transparent url(/images/loader.gif) center center no-repeat;
		height: 125px;
	}
	
	.thumb .wiki {
		display: block;
		float: right;
	}
	
	.thumb .wiki img  {
		background: none;
		height: auto;
	}

.active {
	background: url(/images/colorbox/overlay.png) repeat;
	border: 1px solid #45FEF6;
}

.nav {
	display: block;
	float: right;
	padding: 0;
	margin: 0;
}

.nav li {
	display: inline;
}

.nav.main {
	width: 60%;
	text-align: right;
	margin-top: 8em;
}

.nav.main li {
	display: block;
	float: right;
	margin-left: 3px;
	text-align: center;
}

	.nav.main a {
		color: #fff;
		background: #5dbce3 url(/images/tabs_bg.gif) bottom repeat-x;
		border-top: 1px solid #0c92cf;
		border-bottom: 1px solid #333;
		-moz-border-radius-topleft: 15px;
		-moz-border-radius-topright: 15px;
		-webkit-border-top-right-radius: 15px;
		-webkit-border-top-left-radius: 15px;
		display: block;
		width: 160px;
		font-size: 24px;
		font-weight: bold;
		padding: .7em;
	}

	.nav.main a:hover {
		background: #82d8ff;
		border-top: 1px solid #aae4ff;
		color: #07709f;
	}
	
.external {
	color: #AA00FF;
}

.nav.foot {
	width: 20%;
	float: left;
	margin-top: 1.5em;
	text-align: left;
}

.featured {
	display: block;
	float: left;
	width: 45%;
	margin-right: 1.6em;
}
	
	.featured h3 {
		color: #47c5fd;
		font-size: 16px;
		font-weight: normal;
		height: 46px;
		margin: 0 0 1.5em;
	
	}
	
	.featured h3 span {
		display: block;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: .5em;
	}

.featured li {
	background: #121212;
	padding: 5px;
	border-bottom: 1px solid #1c1c1c;
	margin-bottom: 5px;
}
	
	.featured li img {
		width: 50px;
		float: left;
		margin-right: 5px;
	}
	
	.featured p {
		font-weight: bold;
		font-size: 16px;
		color: #226683;
	}
	
	.featured em {
		line-height: 1.4em;
	}

#contact {
	display: block;
	width: 30%;
	float: right;
}

#contact legend {
	border: 1px dotted #303030;
	display: block;
	color: #3da0cd;
	font-size: 16px;
	font-weight: normal;
	height: 46px;
	padding: .8em 1em;

}
	
	#contact legend span {
		display: block;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: .5em;
	}


#contact fieldset {
	border: 1px dotted #303030;
	padding: 8px;
}

#contact textarea {
	width: 95%;
	margin-bottom: 8px;
}
#contact input[type="text"] {
	width: 95%;
	margin-bottom: 8px;
}

#contact label {
	display: block;
	margin-bottom: 8px;
}

.faq_container {
	float: left;
	width: 75%;
}

.faq_container ul li strong {
	color: #fa00a9;
	font-size: 16px;
}

.faq_container ul li p {
	margin: 15px 0;
}

.rss {
	display: block;
	background: transparent url(/images/rss.png) no-repeat;
	padding: 5px;
	padding-left: 25px;
}

.blog h3 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.blog p {
	padding-top: 10px;
}

/* -- clearing all floats --*/

#content_wrapper:after, #donate:after, #creativeCommons:after, .nav.main:after, #header_wrapper:after, .thumb:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* !Split Test */
.home .button, .home .social, .home .sharethis {
	background: #ff9419 url(/images/button3.gif) top repeat-x;
	border: 1px solid #d87911;
	color: #993b0c;
}

.home .thumb {
	border: 1px solid purple;
	color: #fff;
	background: #b1f1ff url(/images/button4.gif) bottom repeat-x;
}