@charset "utf-8";
/* Main Styles */

/* -- reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td, col {
	background: transparent no-repeat 0 0;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: baseline;
	}
ol, ul { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {	border-collapse: collapse; border-spacing: 0; width: 100%; }
input, textarea { margin: 0; padding: 0; }
em { font-style: italic; }
object { display: block; }


body {
	color: #B1F1FF;
	margin: 0;
	padding: 0;
	font-family: Verdana, Hevetica, "sans-serif";
	font-size: 12px;
	line-height: 10px;
}

a:link {color: #45FEF6; text-decoration: none}
a:visited {color: #45FEF6;}
a:hover,a:focus {color: #0FE7F5; text-decoration: none;}
a:active {}

.button {
	color: #333;
	background: url(/images/button.gif) ;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #ccc;
	padding: 4px 8px;
	text-decoration: none;
	cursor: pointer;
}

.button:hover {
	border: 1px solid #5d5d5d;
}

.button:active {
	background: url(/images/button_active.gif) ;
}


.hidden {
	display: none;
}

fieldset, input, textarea {
	border: 1px solid #ccc;
}

input, fieldset, textarea {
	padding: 4px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.6em;
	margin: 0;
}

#header_wrapper, #footer_wrapper {
	background: #000;
}

	#header_wrapper h1 {
		float: left;
	}
	
h2 {
	border-bottom: 1px dotted #303030;
	display: block;
	font-size: 42px;
	height: 46px;
	margin: 0 0 .5em;
	width: 96%;
}

#content_wrapper {
	background: #1c1c1c;
	padding: 2em;
}

.copyright {
	clear: both;
	text-align: center;
}

.clear {
	clear: both;
}

.constrain {
	width: 900px;
	margin: 0 auto;
	padding: 1em 5em;
}

.thumb_container {
	float: left;
	width: 75%;
}
	
	.thumb_container p {
		display: block;
		margin-top: .5em;
		width: 83px;
	}

.adsense {
	float: left;
	width: 25%;
}
	
	.adsense h3 {
		border-bottom: 1px dotted #303030;
		color: #92BEC7;
		display: block;
		font-size: 14px;
		height: 46px;
		margin: 0 0 1.5em;
	
	}
	
	.adsense h3 span {
		display: block;
		font-size: 28px;
		margin-bottom: .5em;
	}

#big_thumb {
	background: transparent url(/images/loader.gif) center center no-repeat;
	border: 1px solid #606060;
	float: left;
	width: 320px;
	height: 480px;
	padding: 5px;
}

.thumb {
	border: 1px solid #404040;
	padding: 5px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
	
	.thumb img {
		background: transparent url(/images/loader.gif) center center no-repeat;
		height: 125px;
	}

.active {
	background: url(/images/colorbox/overlay.png) repeat;
	border: 1px solid #45FEF6;
}

.nav {
	display: block;
	float: right;
	padding: 0;
	margin: 0;
}

.nav li {
	display: inline;
}

.nav.main {
	width: 20%;
	text-align: right;
}

	.nav.main a {
		color: #FF00AA;
		font-size: 16px;
		font-weight: bold;
	}
	
.external {
	color: #AA00FF;
}

.nav.foot {
	width: 20%;
	float: left;
	text-align: left;
}

.featured {
	display: block;
	float: left;
	width: 50%;
}

.featured li {
	background: #ccc;
	padding: 5px;
	margin-bottom: 1px;
}
	
	.featured li img {
		width: 50px;
		float: left;
		margin-right: 5px;
	}

#contact {
	display: block;
	width: 30%;
	float: left;
}

#contact fieldset {
	border: none;
	padding: 0;
}

#contact textarea {
	width: 100%;
}
#contact input[type="text"] {
	width: 100%;
}

#contact label {
	display: block;
}

/* -- clearing all floats --*/

#content_wrapper:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}